/* color palette from <https://github.com/vuejs/theme> */
:root {
  --error: #e66258;
  --success: #50da50;
  --color-background: rgb(255, 255, 255);
  --color-text: rgb(46, 46, 46);
  --board-bg-color: #15222a;

  --tile_color_0: #b5af19;
  --tile_color_1: #1f8fa6;
  --tile_color_2: #9a1e01;
  --tile_color_3: #248357;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
